include *.txt
include *.yaml
include *.yml
include Dockerfile
include pytest.ini
include scrapy.cfg
include tox.ini
recursive-exclude tests *.py
recursive-exclude .vscode *
exclude .python-version
exclude bin/test
