[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"zope.interface" = {editable = true, path = "."}

[dev-packages]
pdm = "*"
pipx = "*"
check-manifest = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
